.perfil-image-container {
  width: 10%; /* Establece el ancho en un 10% del contenedor padre */
  border-radius: 100%;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .perfil-image-container {
    width: 34%; /* Establece un ancho más grande en dispositivos móviles */
  }
}